---
layout: default
title: Game Design Blog
---
	<h1>{{ page.title }}</h1>
	<p>
		Welcome to my game design blog. I tend to focus mostly on the design of single-player strategy games, though what I call "strategy games" is a pretty broad category.
	</p>
	<p>
		I also contribute to the
		<a href="http://www.dinofarmgames.com/podcast/">Dinofarm Community Podcast</a>
		And I hang out on the
		<a href="https://discord.gg/8PPwfDY">Dinofarm Discord</a> 
		and the 
		<a href="www.dinofarmgames.com/forum">Dinofarm forum</a> 
		which you can join if you want to chat with me, or a bunch of other people interested in game design.
	</p>
	<ul class="posts">
		{% for post in site.posts %}
			{% if post.categories contains 'gamedesign' %}
				<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
